@using PresentationLayer.ModelsVm.Home
@{
    ViewData["Title"] = "Home Page";
}
@model HomeVm

<div class="container mt-4">

    <!-- Categories Section -->
    <section class="mb-5">
        <h2 class="text-light text-center mb-4">Categories</h2>
        <div class="row">
			@if (Model.Categories != null && Model.Categories.Any())
			{
                @foreach (var category in Model.Categories)
                {
                    <div class="col-md-4">
                        <div class="card border-0 p-3 shadow-lg border-top border-5 rounded bg-dark text-light">
                            <img src="~/Images/@category.ImageUrl" class="card-img-top rounded img-fluid" alt="PC Games">
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase fw-bold text-light">@category.Name</h5>
                            </div>
                            <div class="px-3 pb-4">
                                <a class="btn btn-outline-primary w-100 py-2 fw-bold product-btn" asp-action="Browse" asp-controller="Categories" asp-route-id="@category.CategoryId">
                                    Browse
                                </a>
                            </div>
                        </div>
                    </div>
                }

			}
			else
			{
				<div class="alert alert-warning" role="alert">
					No categories found.
				</div>
			}
        </div>
    </section>

    <!-- Popular Products Section -->
    @foreach (var popular in Model.PopularProducts)
    {
        <div class="divider"></div>

        <section class="mb-5">
            <h2 class="text-light text-center mb-4">Popular @popular.CategoryName</h2>
            <div class="row">
                @foreach (var product in popular.getAllProductsVms)
                {

                    <div class="col-md-4">
                        <div class="card border-0 p-3 shadow-lg border-top border-5 rounded bg-dark text-light">
                            <img src="~/Images/@product.ImageUrl" class="card-img-top rounded img-fluid" alt="@product.Name">
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase fw-bold text-light">@product.Name</h5>
                                <p class="card-text text-light-50">@product.Description</p>
                                <p class="fw-bold text-success fs-5">$@product.Price</p>
                            </div>
                            <div class="px-3 pb-4">
                                <a class="btn btn-outline-primary w-100 py-2 fw-bold product-btn" href="#">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
</div>